@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;500;700;900&family=Outfit:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray: #444444;
    --black: #151515;
    --white: #ffffff;
    --beige: #d5966c;
}

.section1 {
    padding: 45px 0;
}

.section1 div {
    display: flex;
}

section h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    width: 514px;
    height: 176px;
    top: 189px;
    left: 165px;
    size: 96px;
    line-height: 88px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--black);
    color: var(--white);
    padding: 80px;
    
}

footer h3 {
    font-family: 'Big Shoulders Display', sans-serif;
    height: 58px;
    width: 159px;
}

footer p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-size: 12px;
    position: absolute;
    font-weight: 300;
    line-height: 28px;
    word-wrap: normal;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content:flex-end;
    width: 80%;
    height: 20px;
    position: absolute;
}

footer ul li {
    margin: 10px;
}