@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;500;700;900&family=Outfit:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --gray: #444444;
    --dark-grey: #151515;
    --white: #ffffff;
    --beige: #d5966c;
    --black: #0a0a0a;
}

header {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 11.45%;
    line-height: 0;
}

header h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;
    position: absolute;
    top: 189px;
    left: 165px;
    font-size: 4.36rem;
    line-height: 4rem;
    background-image: linear-gradient(90deg,
        var(--white) 0, var(--white) 3em,
        var(--black) 3em, var(--black) 5em
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

header div {
    background-color: var(--black);
    color: var(--white);
}

#header_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 20.45rem;
    height: 100%;
}

header img {
    position: relative;
    left: 450px;
    top: 0;
}

header p {
    position: absolute;
    right: 0;
    top: 190px;
    width: 15.9rem;
}
/* footer section */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 80px;
    
}

footer h3 {
    font-family: 'Big Shoulders Display', sans-serif;
    height: 58px;
    width: 159px;
}

footer p {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-size: 12px;
    position: absolute;
    font-weight: 300;
    line-height: 28px;
    word-wrap: normal;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content:flex-end;
    width: 80%;
    height: 20px;
    position: absolute;
}

footer ul li {
    margin: 10px;
}